.languages li h3 {
  line-height: normal;
  display: inline-block;
  margin-right: 1rem;
}

.languages li p {
    display: inline-block;
    font-size: 1.3rem;
}

.languages ul {
  padding: 0 1.6rem ;
}