.picture {
    border: 2px solid white;
    border-radius: 50%;
    width: 200px;
    aspect-ratio: 1/1;
    align-content: center;
    text-align: center;
    margin: auto;
}

@media (max-width: 699px) {
    .picture {
        width: 40vw;
    }
}


