.resume {
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  gap: 1rem;
  margin: auto;
  width: 794px;
  height: 1123px;
  background-color: beige;
}

.left {
  background-color: purple;
  color: white;
}

.left, .right {
  padding: 1.5rem;
}

.container {
  display: grid;
  grid-template-columns: 1fr 794px;
  gap: 3rem;
  padding: 2rem 5rem;
}

ul {
  padding: 0;
  list-style: none;
}
