@media (min-width: 700px) {
    .resume {
        display: grid;
        grid-template-columns: 1fr 1.5fr;
        width: 794px;
        height: 1123px;
    }
}

@media (max-width: 699px) {
    .resume {
        display: grid;
        grid-template-columns: 1fr 1.5fr;
        width: 100%;
    }

    .left h2 {
      font-size: 1.4rem;
    }
}

.resume {
    word-break: break-word;
}

h1,
h2,
h3 {
    font-family: "Merriweather Sans";
}

h4 {
    font-size: 1.15rem;
}

.right h3 {
    font-size: 1.5rem;
}

h2 {
    font-size: 1.6rem;
}

.left {
    background-color: purple;
    color: white;
}

.right {
    background-color: beige;
}

.left,
.right {
    padding: 2rem 2vw;
}

ul {
    padding: 0;
}

.left .about {
    padding-top: 2rem;
}

.title svg {
    width: 2.3rem;
}

.title {
    display: flex;
    gap: 0.7rem;
    padding: 0.8rem 0;
    align-items: flex-start;
}

.work .title svg,
.about .title svg {
    position: relative;
    top: -2px;
}

.left .title {
    fill: white;
}

.section {
    padding: 0.7rem 0;
}

.right .section li {
    padding: 0.6rem 0;
}

.left .section li {
    padding: 0.4rem 0;
}

.education ul,
.work ul {
    padding: 0 1.3rem;
}
